

.about{
    padding-bottom: 50px;
    /* border:black solid; */
}
.about h1{
    text-align: center;
    padding-top: 100px;
    /* padding-bottom: 120px; */
}
.about_main{
    margin: 0 auto;
    /* border:2px solid pink; */
    padding: 60px 70px 50px;
    display: flex;
    align-items: center;
    justify-content: center;  
    /* width: 1200px;   */
}
.about_main_text{
    width: 520px;
    /* border:2px solid aqua; */
    /* padding-left: 72px; */
}
.about_main_pic{
    /* border:2px solid purple; */
    
}

.about_main_text > p{
    font-style: italic;
    /* text-align: left; */
    display: block;
    margin: 0 auto;
}

.about_main_pic >img{
    width: 60%;
    display: block;
    margin-left: auto;
    
}

.open_time {
    padding-top: 80px;
    text-align: center;
}

.open_time h1{
    padding-bottom: 75px;
}
.open_time h2{
    line-height: 1.8;
}

.open_time h2:last-child {

    padding-bottom: 100px;
}

.last_order p{
    text-align: right;
    animation: btn1 1s infinite;
    font-weight: bold;
}
	
@keyframes btn1{
	0%{
		color: black;
	}
	50%{
        color: darkgray;
	}
	100%{
		color: black;
	}

}


 
