
/* main  */
.home_main_bgc{
    background-color: rgba(255, 221, 68, 0.2);
    width: 1200px;
    margin: 0 auto;
    padding:0 80px;
}
.about{
    padding-bottom: 50px;
    /* border:black solid; */
}
.about h1{
    text-align: center;
    padding-top: 230px;
    /* padding-bottom: 120px; */
}
.about_main{
    margin: 0 auto;
    /* border:2px solid pink; */
    padding: 100px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;  
    /* width: 1200px;   */
}
.about_main_text{
    width: 520px;
    /* border:2px solid aqua; */
    /* padding-left: 72px; */
}
.about_main_pic{
    /* border:2px solid purple; */
    
}

.about_main_text > p{
    font-style: italic;
    /* text-align: left; */
    display: block;
    margin: 0 auto;
}

.about_main_pic >img{
    width: 60%;
    display: block;
    margin-left: auto;
    
}

.open_time {
    padding-top: 230px;
    text-align: center;
}

.open_time h1{
    padding-bottom: 75px;
}
.open_time h2{
    line-height: 1.8;
}

.open_time h2:last-child {

    padding-bottom: 230px;
}

.last_order{
    padding-right: auto;
}


