

.home_main_bgc{
    width: 80%;
    /* height: 600px; */
}

.w1200{
    width: 1200px;
}

.flex{
    
    display: flex;
    justify-self: center;
    align-items: center;
}

.w600{
    width: 600px;
    /* border: black 1px solid; */
    height: 400px;
}


.color{
    /* height: 800px; */
    margin: 0 auto;
    /* background-color: rgba(255, 221, 68, 0.2); */
    padding-bottom: 30px;
}

.w200{
    width: 200px;
    margin: 0 auto;
    /* border: orange solid; */
}

.w200 h1{
    padding:230px 0 100px 0;
    text-align: center;
}

.group{
    display: inline;
}
.w600{
    padding-bottom: 20px;
}

.w600 >a{
    font-size: 40px;
}

.text{
    padding: 120px 60px;
    line-height: 1.6;
}

.pic IMG{
    /* background-image: url(../img/pic_1533803047_31031.png); */
    width: 90%;

    /* background-size:contain; */
    background-repeat: no-repeat;
}

