
.food_menu_title h1{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.food_menu ul{
    display: flex;
    /* border: solid aqua; */
    flex-wrap: wrap;
    align-content:center ;
	justify-content: center;
    padding-bottom: 100px;
}

.food_menu li{
    padding: 10px 40px 20px;
}

.food_menu li h3{
    text-align: center;
    
}

.page{
    display: flex;
    justify-content: center;
    /* border: aqua solid; */
    padding-bottom: 30px;
}
.page_title{
    padding-right: 10px;
}

.page a{
    padding: 0 15px;
    /* border: aqua solid; */
}
.page a:nth-last-child(-n+2){
    border-left: 2px solid black;
}
h3{
    color: black;
}

@media (max-width:650px) {
    .food_menu ul li img{
        width: 300px;
    }
}