

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

/* header */
header{
    /* border:3px solid aqua; */
    background-color: #443426;
    height: 200px;
    z-index: 1; 
}

.top{
    /* border:3px solid black;       */
    display: flex;  
    align-items: center; 
    flex-basis: 100%;
    /* justify-content: space-between; */
    
}

.logo{
    /* border:1px solid salmon; */
    width: 75px;
    margin-top: 20px;
    margin-left: auto;
    z-index: 2;
}

.main_menu{
    display: flex;
    /* border:3px solid pink; */
    margin-left: auto;
    
}

.menu1 ul{
    /* border:3px solid aqua; */
}

.main_menu ul{
    /* border:3px solid purple; */
    display: flex;  
}

.menu2 ul{
    /* border:3px solid violet;      */
    padding: 0 20px;
 
}

.menu2 li{}

.main_menu li a{
    border: 2px solid transparent;
    display: block;
    text-align: center;
    padding: 0 20px; 
    text-decoration: none;
    font-size: 24px;
    color: white;
    line-height: 42px;
}


.menu1 li a:hover{
    border-bottom: 2px solid white;
  
}


 
 /* @media (min-width:1200px){ 
    .top{
      max-width: 1140px;
    }
  } 
   @media (min-width:992px){
    .top{
      max-width: 960px;
    }
  }@media (min-width:768px){
    .top{
      max-width: 720px;
    }
  }@media (min-width:576px){
    .top{
      max-width: 540px;
    }
  }  */