/* ================basic seting============ */
*{
    box-sizing: border-box;
}


.flex{
    display: flex;
}

h1, h2, h3, p{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.6;
    font-size: 18px;
}
h1{
    font-size: 48px;
    font-weight: bolder;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
    
}



body{
    font-family: Arial, Helvetica, sans-serif;
    
}
/* ======================== basic seting end ========================= */

/* ========================header區=========================== */
header{
    /* border:3px solid aqua; */
    background-color: #443426;
    width: 100%;
    height: 105px;
    z-index: 1; 
    /* position: relative; */
}


@media (max-width:1040px) {
    .main_menu .menu1 > ul > li >a{
        display: none;
    }

    
    
}

.top{
    /* border:3px solid black;       */
    height: 105px;
    
    position: relative; 
    /* justify-content: space-between; */
    
}
nav{
    margin: 0 auto;
    align-items: center; 
    flex-basis: 100%;
    display: flex;
    height: 105px;
}

.logo{
    /* border:1px solid salmon; */
    width: 50px;
    margin-top: 70px;
    margin-left: 10%;
    z-index: 2;

    /* position: absolute; */
    /* display: flex; */
}

.main_menu{
    display: flex;
    /* border:3px solid pink; */
    margin-left: auto;
    
}

.menu1 ul{
    /* border:3px solid aqua; */
    display: flex;
}

.main_menu ul{
    /* border:3px solid purple; */
    display: flex;  
}

.menu2 ul{
    /* border:3px solid violet;      */
    padding: 0 20px;
    
}

.menu2 li{}

.main_menu .menu1 li a{
    /* border: 2px solid transparent; */
    display: block;
    text-align: center;
    padding: 0 20px; 
    text-decoration: none;
    font-size: 24px;
    color: white;
    line-height: 42px;
    
}
.main_menu .menu2 li a{
    /* border: 2px solid transparent; */
    display: block;
    text-align: center;
    padding: 0 6px; 
    text-decoration: none;
    font-size: 24px;
    color: white;
    line-height: 42px;
    
}


.menu1 li a:hover{
    border-bottom: 2px solid white;
  
}


 
 /* @media (min-width:1200px){ 
    .top{
      max-width: 1140px;
    }
  } 
   @media (min-width:992px){
    .top{
      max-width: 960px;
    }
  }@media (min-width:768px){
    .top{
      max-width: 720px;
    }
  }@media (min-width:576px){
    .top{
      max-width: 540px;
    }
  }  */

/* =======================header區========================= */

/* =============== main bgc ============*/
.home_main_bgc{
    background-color: rgba(255, 221, 68, 0.2);
    width: 80%;
    padding-bottom: 60px;
    margin: 0 auto;
    /* padding:0 80px; */
    /* height: 1000px; */
}


@media (max-width:550px) {
    .home_main_bgc{
        width: 100%;
    }    
}
  /* ==================== footer區 ================== */

  
footer{
    background-color: #ADA250;
    padding-top: 40px; 
    width: 100%;
}


@media (max-width: 1000px){
    .inner_right .footer_fb{
        display: none;
    }
}
@media (max-width: 850px){
    .inner_right .footer_map{
        display: none;
    }
    .inner_left{
        padding-left: 100px;
    }
}

@media (max-width:550px) {
    .footer_inner{
        height: 256px;
    }
    .footer_logo img{
        width: 30px;
    }
}
.footer_inner{
    /* border:2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px; 
}


.inner_left{
    /* border: 2px solid aqua;   */
    padding-right: 100px;
    /* margin: 0 auto; */
    flex-shrink: 0;
}
.inner_right{
    /* border: 2px solid pink; */
    padding-left: 20px;
    overflow: hidden;
}
.footer_link a{
    color: black;
    font-size: 36px;

}

.contact_link {
    padding-left: 21px;
    padding-right: 4px;
    border-right:2px solid black ;

}

.footer_logo img{
    width: 75px;
    display: block; 
    margin:  auto;
    padding-top: 20px;

}


.footer_aside{
    background-color: #98610E;
}
.footer_aside p{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ===================footer區==================== */


/* =============== ham =========== */
button.hamburger_icon {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    outline: none;
    position: absolute;
    float: right;
    top: 40px;
    right: 91px;
    border: transparent;
    background-color: transparent; 
    border-radius: 50%; 
    display: none;
}



@media (max-width:1040px) {
    button.hamburger_icon{
        display: block;
    }   
}

.ham-bar {
    display: inline-block;
    background-color: rgba(255, 221, 68, 0.8);
    text-align: center;
    display: none;
    /* margin-top: 8px; */
    z-index: 88;
    position: relative;
}

.ham-bar a{
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px 0 5px;

}
.ham-bar li {
    padding-bottom: 5px;
}
.ham-bar li:hover{
	background-color: rgba(68, 52, 38, 1);  
} 
ul a:hover{
	color: lightcyan;	
}

button.hamburger_icon span.-hr.-top {
    top: 30%;
}

button.hamburger_icon span.-hr.-bottom {
    top: 70%;
}

button.hamburger_icon span.-hr {
    height: 1.2px;
    width: 15px;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}
button.hamburger_icon.-on span.-hr.-top {
    opacity: 0;
}

button.hamburger_icon.-on span.-hr.-bottom {
    opacity: 0;
}
/*背景動畫*/
ul.BackgroundCircle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
  }
  .triangle {
    position: relative;
    background-color:#f7f6f5;
    text-align: left;
    display: block;
  }
  .triangle:before,
  .triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
  }
  .triangle,
  .triangle:before,
  .triangle:after {
    width:  10em;
    height: 10em;
    border-top-right-radius: 30%;
  }
  .triangle {
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
  }
  .triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  .triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }
  .triangle-wh {
    position: relative;
    background-color:#fff;
    text-align: left;
    display: block;
  }
  .triangle-wh:before,
  .triangle-wh:after {
    content: '';
    position: absolute;
    background-color: inherit;
  }
  .triangle-wh,
  .triangle-wh:before,
  .triangle-wh:after {
    border-top-right-radius: 30%;
  }
  .triangle-wh {
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
  }
  .triangle-wh:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  .triangle-wh:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }
  ul.BackgroundCircle li{
    position: absolute;
    list-style: none;
    animation: animate 25s cubic-bezier(0, 0.24, 1, 0.56) infinite;
    bottom: -300px;
  }
  ul.BackgroundCircle li:nth-child(1){
    left: 25%;
    animation-delay: 0s;
    bottom: -400px;
  }
  ul.BackgroundCircle li:nth-child(1)>.triangle,
  ul.BackgroundCircle li:nth-child(1)>.triangle:before,
  ul.BackgroundCircle li:nth-child(1)>.triangle:after {
    width:  200px;
    height: 200px;
    background-color: #f7f6f5;
  }
  ul.BackgroundCircle li:nth-child(2){
    left: 0;
    animation-delay: 12s;
    bottom: -500px;
  }
  ul.BackgroundCircle li:nth-child(2)>.triangle,
  ul.BackgroundCircle li:nth-child(2)>.triangle:before,
  ul.BackgroundCircle li:nth-child(2)>.triangle:after {
    width:  300px;
    height: 300px;
    background-color: #fffae5;
  }
  ul.BackgroundCircle li:nth-child(3){
    left: 50%;
    animation-delay: 6s;
  }
  ul.BackgroundCircle li:nth-child(3)>.triangle,
  ul.BackgroundCircle li:nth-child(3)>.triangle:before,
  ul.BackgroundCircle li:nth-child(3)>.triangle:after {
    width:  120px;
    height: 120px;
    background-color: #edeffc;
  }
  ul.BackgroundCircle li:nth-child(4){
    right: 0;
    animation-delay: 15s;
  }
  ul.BackgroundCircle li:nth-child(4)>.triangle,
  ul.BackgroundCircle li:nth-child(4)>.triangle:before,
  ul.BackgroundCircle li:nth-child(4)>.triangle:after {
    width:  80px;
    height: 80px;
    background-color: #fffae5;
  }
  ul.BackgroundCircle li:nth-child(5){
    right: 17%;
    animation-delay: 3s;
  }
  ul.BackgroundCircle li:nth-child(5)>.triangle,
  ul.BackgroundCircle li:nth-child(5)>.triangle:before,
  ul.BackgroundCircle li:nth-child(5)>.triangle:after {
    width:  250px;
    height: 250px;
    background-color: #fff6cc;
  }
  ul.BackgroundCircle li:nth-child(6){
    right: 28%;
    animation-delay: 9s;
  }
  ul.BackgroundCircle li:nth-child(6)>.triangle,
  ul.BackgroundCircle li:nth-child(6)>.triangle:before,
  ul.BackgroundCircle li:nth-child(6)>.triangle:after {
    width:  140px;
    height: 140px;
    background-color: #edeffc;
  }
  ul.BackgroundCircle li:nth-child(7){
    left: 40%;
    animation-delay: 18s;
  }
  ul.BackgroundCircle li:nth-child(7)>.triangle,
  ul.BackgroundCircle li:nth-child(7)>.triangle:before,
  ul.BackgroundCircle li:nth-child(7)>.triangle:after {
    width:  120px;
    height: 120px;
    background-color: #edeffc;
  }
  ul.BackgroundCircle li{
    animation: rotation1 25s cubic-bezier(0, 0.24, 1, 0.56) infinite;
  }
  
@keyframes rotation1 {
    0%{
        transform: translateY(0) rotate(0deg) scale(1);
        opacity: 0;
        border-radius: 0;
    }
    100%{
        transform: translateY(-2000px) rotate(720deg) scale(0.3);
        opacity: 1;
    }
  }
 
  
  ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }
