.home_main_bgc{

    background-color: rgba(255, 221, 68, 0.2);
    width: 80%;
    /* height: 4000px; */
    margin: 0 auto;
    /* padding:0 350px; */
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.home_main_title h1{
    display: block;
    text-align: center;
    padding-top: 230px;
    padding-bottom: 30px;
}