.home_main_bgc{
    background-color: rgba(255, 221, 68, 0.2);
    width: 80%;
    margin: 0 auto;
    /* padding:0 80px; */
}
.home_main_bgc > h1{
    text-align: center;
    /* border: green solid; */
    padding: 230px 0 100px 0;
}

.total_block{
    height: 300px;
    /* border: solid purple; */
}

.total_area{
    /* border: aqua solid; */
    padding-bottom: 40px;
}

.total_block_a{
    /* border: aqua solid; */
    height: 300px;
    background-color: #AA99AB;
    border-radius: 40px;
    padding:10px
}

.total_shop1{
    /* border: aqua solid; */
    width: 80%;
    height: 100px;
    margin: 30px auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.total_shop1 h3{
    flex-grow: 2;
    text-align: center;
    border-left: black 1px solid;
}
.total_shop1 h3:first-child{
    border: none;
}

.hoka_total{
    display: flex;
    flex-wrap: wrap;
}
.hoka_love1{
    width: 50%;
    padding-left: 20px;
   
}
.hoka_love1 h2{
    text-align: center;
    padding: 40px 0;

}
.love_food{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}
.love_food a{
    display: block;
    width: 50%;
    padding: 10px;
    
    
}
.love_food img{
    width: 90%;
    display: block;
}
.hoka_love2{
    margin: 0 auto;
    padding-top:40px ;
    position: relative; 
}
.hoka_love2 h1{
    padding-bottom:60px;    

}

.hoka_love2 h2{
    padding-bottom: 60px;
}

.hoka_love2 button{
    display: block;
    margin: 10px auto;
}

.hoka_love2 h2::before{
    content: '';
    position: absolute;
    top:183px;
    border-right: 141px solid black;
    /* border-left: 3px solid white; */
    width: 90px;
    height: 2px;
}